body{
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    width: 100px;
    height: 100px;
    border: 2px solid #606060;
    border-radius: 50%;
}

#title, .subtitle, .posttitle {
    color: #606060;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #606060;
}

.posttitle {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #606060;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post-image {
    margin-bottom: 15px;
    width: 100%;
}

.contact-list {
    list-style-type: none;
    padding-left: 15px;
}

.contact-list li a {
    text-decoration: none;
}